<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a
        routerLink="/recipes"
        routerLinkActive="active-nav-link"
        style="cursor: pointer"
        class="navbar-brand"
        >RECIPE BOOK</a
      >
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active-link">
          <a
            style="
              cursor: pointer;
              color: mediumspringgreen;
              font-weight: 400;
              letter-spacing: 2px;
            "
            routerLink="/recipes"
            >Recipes</a
          >
        </li>
        <li routerLinkActive="active-link">
          <a
            style="
              cursor: pointer;
              color: mediumspringgreen;
              font-weight: 400;
              letter-spacing: 2px;
            "
            routerLink="/shopping-list"
            >Shopping List</a
          >
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/auth" routerLinkActive="signin-btn">Sign In</a>
        </li>
        <li class="dropdown" toggleDropdown>
          <a
            style="cursor: pointer; background-color: black; color: #fff"
            class="dropdown-toggle manage-nav-link"
            role="button"
            >Manage<span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li>
              <a style="cursor: pointer" (click)="handleSaveRecipes()"
                >Save Recipe</a
              >
            </li>
            <li>
              <a style="cursor: pointer" (click)="handleFetchRecipes()"
                >Fetch Recipes</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
