.header {
  background-color: #000;
}

.active-link {
  background-color: black;
}

.active-nav-link {
  color: #000;
}

.signin-btn {
  color: green;
  transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s;
}
