<!-- the `$event` allows us to listen to any event or access any kind of data in the template or in the component -->
<!-- if we pass anything else than `$event inside arg`, 
     it doesn't overwrite the arg in the function, we determine which data we pass in the function, 
     also we can pass $event as 2nd arg but it doesn't matter since `$event` will always 
     refer to event data between these '' single quotes and analyze what string is passed to function
     as in this function handleNavigate()
-->
<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-footer></app-footer>
